spring:
  application:
    name: banking-sample
  profiles:
    active: local
  jpa:
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
---
spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:h2:mem:online_bank
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: none
server:
  port: 8080
